doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/comics.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
    
  body
    .content
      block content