doctype html
html(lang="en")
  head
    title= `Comic Book Guide`
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // Spend days building fancy comic book app. Still had to Google how to add a stylesheet to an HTML file...
    link(rel="stylesheet" href="css/comics.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
    
  body
    .content
      block content